.header-container {
  background-color: var(--button-color);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}

.header-container h1 {
  color: var(--button-text);
  text-transform: uppercase;
}

.content-container {
  display: flex;
}