:root {
  --background-color: #16161a;
  --headline-color: #fffffe;
  --text-color: #94a1b2;
  --button-color: #7f5af0;
  --button-text: #fffffe;
  --highlight-color:#7f5af0;
  --secondary-color: #72757e;
  --tertiary-color: #2cb67d;
}

body {
  background-color: var(--background-color);
};

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}