:root {
  --background-color: #004643;
  --headline-color: #fffffe;
  --text-color: #abd1c6;
  --button-color: #f9bc60;
  --button-text: #001e1d;
  --highlight-color: #f9bc60;
  --secondary-color: #abd1c6;
  --tertiary-color: #e16162;
}

body {
  background-color: var(--background-color);
};

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
